.date-picker {
  position: relative;
  -webkit-transition: all 0.3s 0s ease-in-out;
  transition: all 0.3s 0s ease-in-out;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1000;
  color: #fff;
}

.date-picker .input.result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #252945;
  background-color: #1e2139;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
  font-weight: 700;
  font-size: .9rem;
  cursor: pointer;
}

.date-picker .calendar {
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  width: 40%;
  padding: 8px;
  background-color: #1e2139;
  border: 1px solid #252945;
  border-radius: 8px;
  display: none;
}

.date-picker .calendar.show {
  display: block;
}

.date-picker .calendar .ui-datepicker-header {
  line-height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.date-picker .ui-datepicker-prev,
.date-picker .ui-datepicker-next {
  width: 16px;
  height: 16px;
  background: url(../images/icon-arrow-right.svg);
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.date-picker .ui-datepicker-prev {
  float: left;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  text-indent: 9999px;
}

.date-picker .ui-datepicker-prev:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: -43px 0px 0px 8px;
}

.date-picker .ui-datepicker-next {
  float: right;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  text-indent: -9999px;
}

.date-picker .ui-datepicker-title {
  text-align: center;
  font-weight: 500;
}

.date-picker .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}

.date-picker .ui-datepicker-calendar thead tr th span {
  width: 100%;
  font-size: 12px;
  color: #c9c0c0;
  font-weight: 400;
}

.date-picker .ui-state-default {
  display: block;
  text-decoration: none;
  line-height: 35px;
  font-size: 14px;
  color: #fff;
  font-weight: 500;
  border-radius: 5px;
}

.date-picker .ui-state-default:hover {
  background-color: #7c5dfa;
}

.ui-state-active {
  background-color: #7c5dfa;
}

header {
  background-color: #252945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 100;
}

header .logo {
  border-top-right-radius: 20px;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #7c5dfa;
  border-bottom-right-radius: 20px;
}

header .logo svg {
  z-index: 3;
}

header .logo::after {
  content: "";
  height: 50%;
  width: 100%;
  background-color: #9277ff;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 20px;
  z-index: 2;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  border-bottom-right-radius: 20px;
}

header .logo:hover::after {
  height: 90%;
  border-top-right-radius: 10px;
}

header .theme-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .theme-profile .theme-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 32px;
}

header .theme-profile .theme-buttons .moon-icon {
  display: none;
  cursor: pointer;
}

header .theme-profile .theme-buttons .sun-icon {
  cursor: pointer;
}

header .theme-profile .profile-photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .theme-profile .profile-photo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

@media (min-width: 1440px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100vh;
    width: 105px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
  }
  header .logo {
    height: 100px;
  }
  header .theme-profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  header .theme-profile .profile-photo {
    height: 100px;
    border-top: 0.9px solid #858BB2;
  }
}

@media (max-width: 1439px) {
  header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 72px;
  }
  header .logo {
    height: 72px;
    width: 72px;
    background-color: #7c5dfa;
  }
  header .theme-profile .theme-buttons {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .theme-profile .profile-photo {
    border-left: 0.9px solid #858BB2;
    width: 100px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  color: #fff;
  font-family: Spartan, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #141625;
}

.details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.details .go-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 0.9rem;
  font-weight: 700;
  cursor: pointer;
}

.details .caption {
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #1e2139;
  padding: 32px;
  border-radius: 12px;
}

.details .caption .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.details .caption .container.left {
  gap: 32px;
}

.details .caption .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.details .caption .buttons button {
  border: none;
  color: #fff;
  padding: 0 24px;
  border-radius: 24px;
  height: 48px;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: .25px;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.details .caption .buttons button.edit {
  background-color: #252945;
}

.details .caption .buttons button.edit:hover {
  color: #252945;
  background-color: #fff;
}

.details .caption .buttons button.delete {
  background-color: #ec5757;
}

.details .caption .buttons button.delete:hover {
  color: #ec5757;
  background-color: #fff;
}

.details .caption .buttons button.pay {
  background-color: #7c5dfa;
  display: none;
}

.details .caption .buttons button.pay:hover {
  color: #7c5dfa;
  background-color: #fff;
}

.details .caption .buttons.pending .pay {
  display: block;
}

.details .details-data {
  background-color: #1e2139;
  padding: 32px;
  border-radius: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.details .details-data .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.details .details-data .row .xs-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 4px;
}

.details .details-data .row .xs-container .id {
  font-size: .85rem;
  font-weight: 700;
}

.details .details-data .row .xs-container .id .hashtag {
  color: #7e88c3;
}

.details .details-data .row .xs-container .p-decription {
  font-size: .85rem;
}

.details .details-data .row .xs-container .name {
  margin: 10px 0;
}

.details .details-data .row .xs-container .email {
  margin: 10px 0;
}

.details .details-data .row .small {
  font-size: .85rem;
  line-height: 1.125rem;
}

.details .details-data .row .bold {
  font-size: 1.2rem;
  font-weight: 700;
}

.details .details-data .row .s-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details .details-data .row .s-container .invoice-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .9rem;
  font-weight: 400;
  gap: 10px;
}

.details .details-data .row .s-container .invoice-date span {
  font-size: 1.05rem;
  font-weight: 700;
}

.details .details-data .row .s-container .payment-due {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: .9rem;
  font-weight: 400;
  gap: 10px;
}

.details .details-data .row .s-container .payment-due span {
  font-size: 1.05rem;
  font-weight: 700;
}

.details .details-data .items-data {
  padding-top: 32px;
  border-radius: 12px;
  background-color: #252945;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}

.details .details-data .items-data .item-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px;
}

.details .details-data .items-data .item-caption span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: 300;
  font-size: .85rem;
}

.details .details-data .items-data .amount-due {
  padding: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #0C0E16;
  color: #fff;
  border-radius: 0 0 12px 12px;
  font-size: .9rem;
  font-weight: 300;
}

.details .details-data .items-data .amount-due .total {
  font-size: 1.4rem;
  font-weight: 800;
}

.details .details-data .items-info {
  gap: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details .details-data .items-info .item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 32px;
}

.details .details-data .items-info .item-row span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: .9rem;
  font-weight: 600;
}

.create-new-invoice {
  width: 720px;
  height: 100vh;
  overflow-y: scroll;
  padding: 24px;
  background-color: #141625;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  position: fixed;
  z-index: 4;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.create-new-invoice .title {
  font-size: 1.7rem;
}

.create-new-invoice .new-invoice-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 14px;
  margin-top: 24px;
  color: #fff;
}

.create-new-invoice .new-invoice-form .direction {
  color: #7c5dfa;
  font-size: .85rem;
  letter-spacing: -.25px;
  font-weight: 700;
}

.create-new-invoice .new-invoice-form .description {
  font-size: .85rem;
  letter-spacing: -.25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-new-invoice .new-invoice-form .description small.alert {
  color: #ec5757;
  font-weight: 500;
  display: none;
}

.create-new-invoice .new-invoice-form input {
  height: 48px;
  border-radius: 5px;
  border: 1px solid #252945;
  background-color: #1e2139;
  margin-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
  color: #fff;
  font-weight: 700;
  font-size: .9rem;
}

.create-new-invoice .new-invoice-form .xl-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}

.create-new-invoice .new-invoice-form .xl-input-container .xs-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.create-new-invoice .new-invoice-form .select-date {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
}

.create-new-invoice .new-invoice-form .select-date input {
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
}

.create-new-invoice .new-invoice-form .select-date svg {
  position: absolute;
  right: 7%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  fill: #7E88C3;
}

.create-new-invoice .new-invoice-form .select-term {
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  width: 100%;
  background-color: #1e2139;
  padding-left: 16px;
  padding-right: 16px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #252945;
  border-radius: 5px;
  color: #fff;
  position: relative;
}

.create-new-invoice .new-invoice-form .select-term span {
  width: 100%;
  margin-bottom: 0;
  cursor: pointer;
  font-weight: 700;
  font-size: .9rem;
}

.create-new-invoice .new-invoice-form .select-term svg {
  position: absolute;
  right: 7%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.create-new-invoice .new-invoice-form .select-term svg.rotate-180 {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.create-new-invoice .new-invoice-form .select-term .options-dropdwon {
  display: none;
  border-radius: 5px;
  position: absolute;
  width: 100%;
  background-color: #1e2139;
  bottom: -100%;
  left: 0px;
  -webkit-transform: translateY(80%);
          transform: translateY(80%);
}

.create-new-invoice .new-invoice-form .select-term .options-dropdwon .option {
  border-bottom: 1px solid #252945;
  font-weight: 700;
  font-size: .9rem;
  padding: 16px 16px;
  cursor: pointer;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.create-new-invoice .new-invoice-form .select-term .options-dropdwon .option:hover {
  color: #7c5dfa;
}

.create-new-invoice .new-invoice-form .select-term .options-dropdwon.show {
  display: block;
}

.create-new-invoice .new-invoice-form .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.create-new-invoice .new-invoice-form .items .item-title {
  font-size: 1.3rem;
  font-weight: 700;
  color: #777f98;
}

.create-new-invoice .new-invoice-form .items .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-new-invoice .new-invoice-form .items .item .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.create-new-invoice .new-invoice-form .items .item .col:nth-child(1) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.create-new-invoice .new-invoice-form .items .item .col:nth-child(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.create-new-invoice .new-invoice-form .items .item .col:nth-child(3) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.create-new-invoice .new-invoice-form .items .item .col:nth-child(4) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.create-new-invoice .new-invoice-form .items .item .col input {
  width: 100%;
}

.create-new-invoice .new-invoice-form .items .item .col .total {
  height: 48px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-new-invoice .new-invoice-form .items .item .delete-item {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 15px;
  height: 15px;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
}

.create-new-invoice .new-invoice-form .items .item .delete-item svg {
  fill: #7e88c3;
}

.create-new-invoice .new-invoice-form .add-item {
  height: 48px;
  background-color: #1e2139;
  border: none;
  color: #fff;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
  margin-bottom: 40px;
}

.create-new-invoice .new-invoice-form .add-item svg {
  fill: #fff;
}

.create-new-invoice .new-invoice-form .main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.create-new-invoice .new-invoice-form .main-buttons button {
  border: none;
  padding: 0 24px;
  height: 48px;
  border-radius: 24px;
  color: #fff;
  font-weight: 700;
  font-size: .9rem;
  cursor: pointer;
}

.create-new-invoice .new-invoice-form .main-buttons .discard {
  background: #252945;
}

.create-new-invoice .new-invoice-form .main-buttons .draft {
  background: #373b53;
  margin-right: 10px;
}

.create-new-invoice .new-invoice-form .main-buttons .save {
  background: #7c5dfa;
}

.create-new-invoice .new-invoice-form .main-buttons.hide {
  display: none;
}

.create-new-invoice .new-invoice-form .edit-buttons {
  display: none;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 15px;
}

.create-new-invoice .new-invoice-form .edit-buttons button {
  border: none;
  padding: 0 24px;
  height: 48px;
  border-radius: 24px;
  color: #fff;
  font-weight: 700;
  font-size: .9rem;
  cursor: pointer;
}

.create-new-invoice .new-invoice-form .edit-buttons .cancel {
  background: #373b53;
}

.create-new-invoice .new-invoice-form .edit-buttons .save-changes {
  background: #7c5dfa;
}

.create-new-invoice .new-invoice-form .edit-buttons.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main.open-invoice .filter-layout {
  opacity: 1;
  z-index: 3;
}

@media (min-width: 1440px) {
  .create-new-invoice {
    left: -1000px;
  }
  main.open-invoice .create-new-invoice {
    left: 105px !important;
  }
}

@media (max-width: 1439px) {
  .create-new-invoice {
    height: calc(100vh - 72px);
    left: -1000px;
  }
  main.open-invoice .create-new-invoice {
    left: 0 !important;
  }
}

main {
  background-color: #141625;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
  position: relative;
}

main .main-content {
  min-width: 60%;
}

main .main-content .main-caption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 56px;
}

main .main-content .main-caption .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

main .main-content .main-caption .info .invoice-number {
  font-size: 0.75rem;
}

main .main-content .main-caption .tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-content .main-caption .tools .filter-status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  cursor: pointer;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

main .main-content .main-caption .tools .filter-status .options-dropdown {
  position: absolute;
  background-color: #252945;
  padding: 24px;
  top: 130%;
  right: 0;
  border-radius: 5px;
  display: none;
}

main .main-content .main-caption .tools .filter-status .options-dropdown .option {
  cursor: pointer;
  width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 12px;
}

main .main-content .main-caption .tools .filter-status .options-dropdown .option .checkbox {
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background-color: #141625;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

main .main-content .main-caption .tools .filter-status .options-dropdown .option .checkbox svg {
  display: none;
}

main .main-content .main-caption .tools .filter-status .options-dropdown .option .checkbox svg.show {
  display: block;
}

main .main-content .main-caption .tools .filter-status .options-dropdown .option .checkbox.active {
  background-color: #7c5dfa;
}

main .main-content .main-caption .tools .filter-status .options-dropdown .option:not(:last-child) {
  margin-bottom: 10px;
}

main .main-content .main-caption .tools .filter-status .options-dropdown .option:hover {
  color: #7c5dfa;
}

main .main-content .main-caption .tools .filter-status .options-dropdown .option:hover .checkbox {
  border: 1px solid #7c5dfa;
}

main .main-content .main-caption .tools .filter-status .options-dropdown.show {
  display: block;
}

main .main-content .main-caption .tools .filter-status span {
  font-size: 0.85rem;
  font-weight: 700;
}

main .main-content .main-caption .tools .new-invoice-btn {
  background-color: #7c5dfa;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
  border: none;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

main .main-content .main-caption .tools .new-invoice-btn span {
  background-color: #fff;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .main-content .no-invoice-message {
  margin-top: 70px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
}

main .main-content .no-invoice-message img {
  width: 242px;
  height: 200px;
  margin-bottom: 50px;
}

main .main-content .no-invoice-message p {
  font-size: 1.4rem;
  font-weight: 700;
}

main .main-content .no-invoice-message span {
  margin-top: 24px;
  width: 210px;
  font-size: 0.8rem;
  letter-spacing: -.25px;
  text-align: center;
  color: #888eb0;
}

main .main-content .no-invoice-message.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .main-content .invoices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

main .main-content .invoices .invoice {
  background-color: #1F2139;
  border: 1px solid #1F2139;
  padding: 24px;
  line-height: 40px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

main .main-content .invoices .invoice .id {
  font-weight: 700;
  font-size: 0.9rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .main-content .invoices .invoice .id .hashtag {
  color: #9277ff;
}

main .main-content .invoices .invoice .date {
  font-size: 0.9rem;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .main-content .invoices .invoice .client-name {
  font-size: 0.9rem;
  font-weight: 400;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .main-content .invoices .invoice .amount {
  font-weight: 900;
  font-size: 1.1rem;
  letter-spacing: 1px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .main-content .invoices .invoice .status {
  height: 40px;
  max-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  gap: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .main-content .invoices .invoice .status .circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

main .main-content .invoices .invoice .status span {
  font-size: 14px;
  font-weight: 800;
}

main .main-content .invoices .invoice .status.paid {
  background-color: #212B3F;
}

main .main-content .invoices .invoice .status.paid .circle {
  background-color: #33D69F;
}

main .main-content .invoices .invoice .status.paid span {
  color: #33D69F;
}

main .main-content .invoices .invoice .status.pending {
  background-color: #ff8f000d;
}

main .main-content .invoices .invoice .status.pending .circle {
  background-color: #ff8f00;
}

main .main-content .invoices .invoice .status.pending span {
  color: #ff8f00;
}

main .main-content .invoices .invoice .status.draft {
  background-color: #dfe3fa0f;
}

main .main-content .invoices .invoice .status.draft .circle {
  background-color: #fff;
}

main .main-content .invoices .invoice .status.draft span {
  color: #fff;
}

main .main-content .invoices .invoice:hover {
  border: 1px solid #7c5dfa;
}

main .main-content .status {
  height: 40px;
  min-width: 110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  gap: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

main .main-content .status .circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
}

main .main-content .status span {
  font-size: 14px;
  font-weight: 800;
}

main .main-content .status.paid {
  background-color: #212B3F;
}

main .main-content .status.paid .circle {
  background-color: #33D69F;
}

main .main-content .status.paid span {
  color: #33D69F;
}

main .main-content .status.pending {
  background-color: #ff8f000d;
}

main .main-content .status.pending .circle {
  background-color: #ff8f00;
}

main .main-content .status.pending span {
  color: #ff8f00;
}

main .main-content .status.draft {
  background-color: #dfe3fa0f;
}

main .main-content .status.draft .circle {
  background-color: #fff;
}

main .main-content .status.draft span {
  color: #fff;
}

main .filter-layout {
  opacity: 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -3;
  background: rgba(0, 0, 0, 0.4984);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

@media (min-width: 1440px) {
  main {
    padding-left: 110px;
  }
  main .main-content {
    padding: 72px 0;
  }
}

@media (max-width: 1439px) {
  main {
    padding-top: 72px;
    width: 100%;
  }
  main .main-content {
    padding: 56px 0;
  }
}
/*# sourceMappingURL=style.css.map */