@import './variables';
@import './calendar';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    color: #fff;
    font-family: Spartan, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

header {
    background-color: $clr-primary;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;

    .logo {
        border-top-right-radius: 20px;
        position: relative;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $clr-purple;

        svg {
            z-index: 3;
        }

        &::after {
            content: "";
            height: 50%;
            width: 100%;
            background-color: $clr-light-purple;
            position: absolute;
            bottom: 0;
            border-top-left-radius: 20px;
            z-index: 2;
            transition: .3s ease;
        }

        &:hover {
            &::after {
                height: 90%;
                border-top-right-radius: 10px;
            }
        }
    }

    .theme-profile {
        display: flex;

        .theme-buttons {
            display: flex;
            justify-content: center;
            padding: 32px;

            .moon-icon {
                display: none;
                cursor: pointer;
            }

            .sun-icon {
                cursor: pointer;
            }
        }

        .profile-photo {
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                cursor: pointer;
            }

        }
    }
}

main {
    background-color: $clr-dark-background;
    display: flex;
    justify-content: center;

    .main-content {
        width: 55%;

        .main-caption {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .invoices {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .invoice-number {
                    font-size: 0.75rem;
                }
            }

            .tools {
                display: flex;
                gap: 16px;
                align-items: center;

                .filter-status {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    cursor: pointer;

                    span {
                        font-size: 0.85rem;
                        font-weight: 700;
                    }
                }

                .new-invoice-btn {
                    background-color: $clr-purple;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    border: none;
                    padding: 8px 10px;
                    border-radius: 20px;
                    font-size: 1rem;
                    font-weight: 700;
                    cursor: pointer;

                    span {
                        background-color: #fff;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }

        .no-invoice-message {
            margin-top: 70px;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;

            img {
                width: 242px;
                height: 200px;
                margin-bottom: 50px;
            }

            p {
                font-size: 1.4rem;
                font-weight: 700;
            }

            span {
                margin-top: 24px;
                width: 210px;
                font-size: 0.8rem;
                // line-height: .9375rem;
                letter-spacing: -.25px;
                text-align: center;
                color: #888eb0;
            }

        }
    }

    .create-new-invoice {
        width: 720px;
        height: 100vh;
        overflow-y: scroll;
        padding: 24px;
        background-color: $clr-dark-background;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        position: absolute;
        left: -50%;
        z-index: 4;
        transition: all .3s ease;

        .title {
            font-size: 1.7rem
        }

        .new-invoice-form {
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin-top: 24px;
            color: #fff;

            .direction {
                color: $clr-purple;
                font-size: .85rem;
                letter-spacing: -.25px;
                font-weight: 700;
            }

            .description {
                font-size: .85rem;
                letter-spacing: -.25px;
            }

            input {
                height: 48px;
                border-radius: 5px;
                border: 1px solid $clr-primary;
                background-color: #1e2139;
                margin-bottom: 12px;
                padding-left: 16px;
                padding-right: 16px;
                color: #fff;
                font-weight: 700;
                font-size: .9rem;
            }

            .xl-input-container {
                display: flex;
                gap: 8px;

                .xs-input-container {
                    display: flex;
                    gap: 12px;
                    flex-direction: column;
                    flex-grow: 1;
                }
            }

            .select-date {
                position: relative;
                margin-bottom: 12px;
                cursor: pointer;

                input {
                    width: 100%;
                    margin-bottom: 0;
                    cursor: pointer;
                }

                svg {
                    position: absolute;
                    right: 7%;
                    top: 50%;
                    transform: translateY(-50%);
                    fill: #7E88C3;
                }
            }

            .select-term {
                position: relative;
                margin-bottom: 12px;
                cursor: pointer;
                width: 100%;
                background-color: #1e2139;
                padding-left: 16px;
                padding-right: 16px;
                height: 48px;
                display: flex;
                align-items: center;
                border: 1px solid $clr-primary;
                border-radius: 5px;
                color: #fff;
                position: relative;

                span {
                    width: 100%;
                    margin-bottom: 0;
                    cursor: pointer;
                    font-weight: 700;
                    font-size: .9rem;
                }

                svg {
                    position: absolute;
                    right: 7%;
                    top: 50%;
                    transform: translateY(-50%);
                }

                .options-dropdwon {
                    display: none;
                    border-radius: 5px;
                    position: absolute;
                    width: 100%;
                    background-color: #1e2139;
                    bottom: -100%;
                    left: 0px;
                    transform: translateY(80%);

                    .option {
                        border-bottom: 1px solid #252945;
                        font-weight: 700;
                        font-size: .9rem;
                        padding: 16px 16px;
                        cursor: pointer;
                    }
                }
            }

            .items {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .item-title {
                    font-size: 1.3rem;
                    font-weight: 700;
                    color: #777f98;

                }

                .item {
                    display: flex;
                    gap: 16px;
                    justify-content: space-between;
                    align-items: center;

                    .col {
                        display: flex;
                        flex-direction: column;
                        gap: 12px;

                        &:nth-child(1) {
                            flex: 2;
                        }

                        &:nth-child(2) {
                            flex: 1;
                        }

                        &:nth-child(3) {
                            flex: 1;
                        }

                        &:nth-child(4) {
                            flex: 1;
                        }

                        input {
                            width: 100%;
                        }

                        .total {
                            height: 48px;
                            margin-bottom: 12px;
                            font-weight: 700;
                            font-size: 1rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    .delete-item {
                        background-color: transparent;
                        border: none;
                        cursor: pointer;
                        width: 15px;
                        height: 15px;
                        flex: 0.5;

                        svg {
                            fill: #7e88c3;
                        }
                    }

                }

                .add-item {
                    height: 48px;
                    background-color: #1e2139;
                    border: none;
                    color: #fff;
                    border-radius: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    font-weight: 700;
                    font-size: 1rem;
                    cursor: pointer;
                    margin-bottom: 40px;

                    svg {
                        fill: #fff;
                    }
                }
            }

            .buttons {
                display: flex;
                justify-content: space-between;

                button {
                    border: none;
                    padding: 0 24px;
                    height: 48px;
                    border-radius: 24px;
                    color: #fff;
                    font-weight: 700;
                    font-size: .9rem;
                    cursor: pointer;
                }

                .discard {
                    background: $clr-primary;
                }

                .draft {
                    background: #373b53;
                    margin-right: 10px;
                }

                .save {
                    background: $clr-purple;
                }
            }
        }

    }

    .filter-layout {
        opacity: 0;
        position: absolute;
        // width: calc(100% - 105px);
        height: 100vh;
        // left: 105px;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -3;
        background: rgba(0, 0, 0, .4984);
        transition: all .3s ease;
    }

    &.open-invoice {
        .create-new-invoice {
            left: 105px !important;
        }

        .filter-layout {
            opacity: 1;
            z-index: 3;
        }
    }
}




























@media(min-width:1440px) {
    header {
        flex-direction: column;
        height: 100vh;
        width: 105px;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;

        .logo {
            height: 100px;
            border-bottom-right-radius: 20px;

            &::after {
                border-bottom-right-radius: 20px;
            }
        }

        .theme-profile {
            flex-direction: column;

            .profile-photo {
                height: 100px;
                border-top: 0.9px solid #858BB2;
            }
        }
    }

    main {
        height: 100vh;
        padding-left: 110px;

        .main-content {
            padding-top: 72px;
        }
    }
}

@media(max-width:1439px) {
    header {
        flex-direction: row;
        width: 100%;
        height: 72px;

        .logo {
            height: 72px;
            width: 72px;
            background-color: $clr-purple;
            border-bottom-right-radius: 20px;

            &::after {
                border-bottom-right-radius: 20px;
            }
        }

        .theme-profile {

            .theme-buttons {
                align-items: center;


            }

            .profile-photo {
                border-left: 0.9px solid #858BB2;
                width: 100px;
            }
        }
    }

    main {
        padding-top: 72px;
        width: 100%;
        height: calc(100vh - 72px);

        .main-content {
            margin-top: 56px;
        }
    }
}