main {
    background-color: $clr-dark-background;

    display: flex;
    justify-content: center;
    min-height: 100vh;
    position: relative;


    .main-content {
        min-width: 60%;

        .main-caption {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 56px;

            .info {
                display: flex;
                flex-direction: column;
                gap: 16px;

                .invoice-number {
                    font-size: 0.75rem;
                }

                .invoice-number.mobile {
                    display: none;
                }
            }

            .tools {
                display: flex;
                gap: 16px;
                align-items: center;

                .filter-status {
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    cursor: pointer;
                    position: relative;
                    user-select: none;

                    .mobile-text {
                        display: none;
                    }

                    .options-dropdown {
                        position: absolute;
                        background-color: $clr-primary;

                        padding: 24px;
                        top: 130%;
                        right: 0;
                        border-radius: 5px;
                        display: none;

                        .option {
                            cursor: pointer;
                            width: 110px;

                            .checkbox {
                                width: 16px;
                                height: 16px;
                                border-radius: 2px;
                                background-color: $clr-dark-background;

                                display: flex;
                                align-items: center;
                                justify-content: center;


                                svg {
                                    display: none;

                                    &.show {
                                        display: block;
                                    }
                                }

                                &.active {
                                    background-color: $clr-purple;

                                }
                            }

                            &:not(:last-child) {
                                margin-bottom: 10px;
                            }

                            display: flex;
                            gap: 12px;


                            &:hover {
                                color: $clr-purple;


                                .checkbox {
                                    border: 1px solid $clr-purple;
                                }
                            }
                        }

                        &.show {
                            display: block;
                        }
                    }

                    span {
                        font-size: 0.85rem;
                        font-weight: 700;
                    }
                }

                .new-invoice-btn {
                    background-color: $clr-purple;
                    color: #fff;
                    display: flex;
                    align-items: center;
                    gap: 12px;
                    border: none;
                    padding: 8px 10px;
                    border-radius: 20px;
                    cursor: pointer;

                    span.plus-icon {
                        background-color: #fff;
                        width: 32px;
                        height: 32px;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    span.text {
                        font-size: 1rem;
                        font-weight: 700;
                    }
                }
            }
        }

        .no-invoice-message {
            margin-top: 70px;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #fff;



            img {
                width: 242px;
                height: 200px;
                margin-bottom: 50px;
            }

            p {
                font-size: 1.4rem;
                font-weight: 700;
            }

            span {
                margin-top: 24px;
                width: 210px;
                font-size: 0.8rem;
                letter-spacing: -.25px;
                text-align: center;
                color: #888eb0;

            }

            &.show {
                display: flex;
            }
        }

        .invoices {
            display: flex;
            flex-direction: column;
            gap: 16px;

            .invoice {
                background-color: #1F2139;

                border: 1px solid #1F2139;
                padding: 24px;
                line-height: 40px;
                border-radius: 8px;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;
                cursor: pointer;


                .id {
                    font-weight: 700;
                    font-size: 0.9rem;
                    flex: 1;
                    white-space: nowrap;


                    .hashtag {
                        color: $clr-light-purple;

                    }

                }

                .date {
                    font-size: 0.9rem;
                    font-weight: 400;
                    flex: 1.5;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                }

                .client-name {
                    font-size: 0.9rem;
                    font-weight: 400;
                    flex: 1.5;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                }

                .amount {
                    font-weight: 900;
                    font-size: 1.1rem;
                    letter-spacing: 1px;
                    flex: 1;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;
                }

                .status {
                    height: 40px;
                    max-width: 110px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 8px;
                    gap: 8px;
                    flex: 1;
                    white-space: nowrap;
                    display: flex;
                    justify-content: center;

                    .circle {
                        width: 7px;
                        height: 7px;
                        border-radius: 50%;
                    }

                    span {
                        font-size: 14px;
                        font-weight: 800;
                    }

                    &.paid {
                        background-color: #212B3F;


                        .circle {
                            background-color: #33D69F;

                        }

                        span {
                            color: #33D69F;

                        }
                    }

                    &.pending {
                        background-color: #ff8f000d;


                        .circle {
                            background-color: #ff8f00;

                        }

                        span {
                            color: #ff8f00;

                        }
                    }

                    &.draft {
                        background-color: #dfe3fa0f;


                        .circle {
                            background-color: #fff;

                        }

                        span {
                            color: #fff;

                        }
                    }
                }

                &:hover {
                    border: 1px solid $clr-purple;
                }
            }
        }

        .status {
            height: 40px;
            min-width: 110px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            gap: 8px;
            flex: 1;
            // padding: 0 24px;

            .circle {
                width: 7px;
                height: 7px;
                border-radius: 50%;
            }

            span {
                font-size: 14px;
                font-weight: 800;
            }

            &.paid {
                background-color: #212B3F;


                .circle {
                    background-color: #33D69F;

                }

                span {
                    color: #33D69F;

                }
            }

            &.pending {
                background-color: #ff8f000d;


                .circle {
                    background-color: #ff8f00;

                }

                span {
                    color: #ff8f00;

                }
            }

            &.draft {
                background-color: #dfe3fa0f;


                .circle {
                    background-color: #fff;

                }

                span {
                    color: #fff;

                }
            }
        }
    }

    .filter-layout {
        opacity: 0;
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -3;
        background: rgba(0, 0, 0, .4984);
        border-top-left-radius: 220px;
        border-bottom-left-radius: 220px;
        transition: all .3s ease;
    }
}

@media(min-width:1440px) {
    main {
        padding-left: 110px;

        .main-content {
            padding: 72px 0;
        }
    }
}

@media(max-width:1439px) {
    main {
        padding-top: 72px;
        width: 100%;

        .main-content {
            padding: 56px 0;
            min-width: 70%;
        }
    }
}

@media(max-width:992px) {
    main {
        .main-content {
            min-width: 85%;
        }
    }
}

@media(max-width:768px) {
    main {
        padding: 72px 20px 0 20px;

        .main-content {
            min-width: 85%;

            .main-caption {
                .tools {

                    .new-invoice-btn {
                        span.text {
                            span {
                                display: none;
                            }
                        }
                    }
                }
            }

            .invoices {
                .invoice {
                    .id {
                        order: -5;
                    }

                    .date {
                        order: -3;
                        min-width: 100%;
                        justify-content: start;
                    }

                    .client-name {
                        order: -4;
                        justify-content: end;
                    }

                    .amount {
                        order: -2;
                        min-width: 50%;
                        justify-content: start;
                    }

                    .status {
                        order: -1;
                    }
                }
            }
        }
    }
}

@media(max-width:576px) {
    main {
        .main-content {
            padding: 40px 0;

            .main-caption {
                padding-bottom: 40px;
                .info {
                    display: flex;
                    flex-direction: column;
                    flex: 1;
                    gap: 10px;

                    h1 {
                        font-size: 1.5rem;
                    }

                    .invoice-number {
                        display: none;
                    }

                    .invoice-number.mobile {
                        display: block;
                    }
                }

                .tools {
                    gap: 12px;
                    flex: 1;
                    justify-content: space-between;

                    .filter-status {
                        .main-text {
                            display: none;
                        }

                        .mobile-text {
                            display: inline;
                        }
                    }
                }
            }
        }
    }
}