.date-picker {
    position: relative;
    transition: all 0.3s 0s ease-in-out;
    user-select: none;
    z-index: 1000;
    color: #fff;

    .input.result {
        display: flex;
        align-items: center;
        height: 48px;
        border-radius: 5px;
        border: 1px solid #252945;
        background-color: #1e2139;
        margin-bottom: 12px;
        padding-left: 16px;
        padding-right: 16px;
        color: #fff;
        font-weight: 700;
        font-size: .9rem;
        cursor: pointer;
    }

    .calendar {
        position: absolute;
        left: 0;
        bottom: 0;
        transform: translateY(100%);
        width: 40%;
        padding: 8px;
        background-color: #1e2139;
        border: 1px solid #252945;
        border-radius: 8px;
        display: none;

        &.show {
            display: block;
        }

        .ui-datepicker-header {
            line-height: 30px;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
    }
}


.date-picker .ui-datepicker-prev,
.date-picker .ui-datepicker-next {
    width: 16px;
    height: 16px;
    background: url(../images/icon-arrow-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
}

.date-picker .ui-datepicker-prev {
    float: left;
    transform: rotate(180deg);
    text-indent: 9999px;
}

.date-picker .ui-datepicker-prev:after {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin: -43px 0px 0px 8px;
}

.date-picker .ui-datepicker-next {
    float: right;
    order: 1;
    text-indent: -9999px;
}

.date-picker .ui-datepicker-title {
    text-align: center;
    font-weight: 500;
}

.date-picker .ui-datepicker-calendar {
    width: 100%;
    text-align: center;
}

.date-picker .ui-datepicker-calendar thead tr th span {
    width: 100%;
    font-size: 12px;
    color: #c9c0c0;
    font-weight: 400;
}

.date-picker .ui-state-default {
    display: block;
    text-decoration: none;
    line-height: 35px;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;

    &:hover {
        background-color: #7c5dfa;
    }
}

.ui-state-active {
    background-color: #7c5dfa;
}

.container {
    &.light-mode {
        .date-picker {
            color: #00083a;

            .input.result {
                color: #00083a;
            }

            .calendar {
                // background-color: #dce0f6;
                background-color: #fff;
                // border: 1px solid #fff;
                border: none;
            }
        }


        .date-picker .ui-datepicker-calendar thead tr th span {
            color: #7a7272;
        }

        .date-picker .ui-state-default {
            color: #00083a;

            &:hover {
                background-color: #7c5dfa;
                color: #fff;
            }
        }

        .ui-state-active {
            background-color: #7c5dfa;
        }

        .ui-state-highlight {
            color: #fff !important;
        }
    }
}